.slider-wrapper {
  font-size: x-large;
  color: var(--text-clr);
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media (min-width: 908px) {
  .slider-wrapper {
    font-size: xx-large;
  }
}

@media (max-width: 335px) {
  .slider-wrapper {
    font-size: large;
  }
}

.slider {
  height: 60px;
  padding-left: 15px;
  overflow: hidden;
}
.slider div {
  color: var(--text-clr);
  height: 50px;
  margin-bottom: 50px;
  padding: 2px 15px;
  text-align: center;
  box-sizing: border-box;
}
.slider-text1 {
  animation: slide 7s linear infinite;
}

@keyframes slide {
  0% {
    margin-top: -300px;
  }
  5% {
    margin-top: -200px;
  }
  33% {
    margin-top: -200px;
  }
  38% {
    margin-top: -100px;
  }
  66% {
    margin-top: -100px;
  }
  71% {
    margin-top: 0px;
  }
  100% {
    margin-top: 0px;
  }
}
