.App {
  background-color: var(--bg-clr);
  color: var(--text-color);
  min-height: 100vh;
}

.dark-theme {
  --main-heading: #5f99be;
  --para-clr: #f2f2f2;
  --btn-bg-color: #5f99be;
  --btn-text-clr: #f2f2f2;
  --bg-clr: #111b20;
  --text-color: #f2f2f2;
}

.light-theme {
  --main-heading: #5f99be;
  --para-clr: #333;
  --btn-bg-color: #111b20;
  --btn-text-clr: #f2f2f2;
  --bg-clr: #fff;
  --text-color: #111b20;
}

.navbar-items {
  color: var(--text-color);
}

.navbar-items:link,
.navbar-items:visited,
.navbar-items:hover {
  color: var(--text-color);
  text-decoration: none;
}

.btn-home {
  font-weight: 500 !important;
  border: solid var(--text-color) !important;
  background-color: var(--bg-clr) !important;
  color: var(--text-color) !important;
}

.btn-home:hover {
  color: var(--bg-clr) !important;
  background-color: var(--text-color) !important;
  border: solid var(--text-color) !important;
}

.btn-channel,
.btn-channel:link,
.btn-channel:visited {
  color: var(--text-color);
  text-decoration: none;
  border-radius: 16px;
}

.btn-channel:hover,
.btn-channel:focus,
.btn-channel:active {
  box-shadow: 0 13px 13px -9px var(--text-color);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
