.App {
  background-color: var(--bg-clr);
  color: var(--text-color);
  min-height: 100vh;
}

.dark-theme {
  --bg-clr: #111b20;
  --text-color: #f2f2f2;
  --nav-bg-color: #eab508;
}

.light-theme {
  --bg-clr: #fff;
  --text-color: #111b20;
  --nav-bg-color: #111b20;
}

.navbar {
  position: fixed !important;
}

.bi-list {
  color: var(--text-color);
}

.navbar-toggler {
  color: transparent !important;
  border: 0 solid transparent !important;
}

@media (min-width: 768px) {
  .deneme {
    display: flex !important;
    flex-direction: column !important;
  }
}

@media (max-width: 767.5px) {
  .navbar {
    position: sticky !important;
    position: -webkit-sticky !important;
  }
}

.navbar-items:link,
.navbar-items:visited {
  text-decoration: none;
  color: var(--text-color);
}

.navbar-items {
  font-size: 17px;
  background: transparent;
  border: none;
  padding: 1em 1.5em;
  color: var(--text-color);
  text-transform: uppercase;
  position: relative;
  transition: 0.5s ease;
}

@media (min-width: 768px) {
  .hide {
    display: none;
  }
  .navbar-items:hover .hide {
    display: initial;
  }

  .navbar-items::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: var(--nav-bg-color);
    transition: 0.5s ease;
  }

  .navbar-items:hover {
    color: var(--bg-clr);
    transition-delay: 0.5s;
  }

  .navbar-items:hover::before {
    width: 100%;
  }

  .navbar-items::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background-color: var(--nav-bg-color);
    transition: 0.4s ease;
    z-index: -1;
  }

  .navbar-items:hover::after {
    height: 100%;
    transition-delay: 0.4s;
    color: aliceblue;
  }
}

.btn-home {
  font-weight: 500 !important;
  border: solid var(--text-color) !important;
  background-color: var(--bg-clr) !important;
  color: var(--text-color) !important;
}

.btn-home:hover {
  color: var(--bg-clr) !important;
  background-color: var(--text-color) !important;
  border: solid var(--text-color) !important;
}

.btn-channel,
.btn-channel:link,
.btn-channel:visited {
  color: var(--text-color);
  text-decoration: none;
  border-radius: 16px;
}

.btn-channel:hover,
.btn-channel:focus,
.btn-channel:active {
  box-shadow: 0 13px 13px -9px var(--text-color);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
